tr,
td {
  border: 1px solid;
  border-collapse: collapse;
}

td {
  width: 30px;
  height: 30px;
}

h1 {
   text-align: center;
}
h1 {
   font-size: 2em;
   font-weight: bold;
}
h2 {
   margin-top: 20px;
   text-decoration: underline;
}