table, 
tr, 
td {
  border: 1px solid black;
}

td {
  width: 30px;
  height: 30px;
  overflow: hidden;
}

h1 {
   font-size: 2em;
   font-weight: bold;
   text-align: center;
}
h2 {
   margin-top: 20px;
   text-decoration: underline;
}
